
######################
# Intellij
######################
*.iml
*.iws
*.ipr
*.ids
*.orig
.idea

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Maven
######################
/log/
target/

######################
# Logs
######################
*.log