# Project exclude paths
/cloud-consumer-order80/target/
/cloud-provider-payment8001/target/

######################
# Intellij
######################
*.iml
*.iws
*.ipr
*.ids
*.orig
.idea

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Maven
######################
/log/
target/

######################
# Logs
######################
*.log